<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.EvaluateInfoMapper">

    <!-- 分页获取订单评价信息 -->
    <select id="selectEvaluatePage" resultType="java.util.LinkedHashMap">
        select
        ei.id,
        ei.order_id,
        ei.user_id,
        ei.score,
        ei.remark,
        ei.create_date,
        ei.del_flag,
        ei.images,
        ui.code,
        ui.name as userName,
        ui.phone,
        oi.code as orderCode,
        oi.total_price,
        coi.title,
        coi.name as commodityName,
        ct.name as typeName,
        coi.images as commodityImages,
        coi.status
        from
        evaluate_info ei
        left join order_info oi on
        (oi.id = ei.order_id)
        left join commodity_info coi on
        (coi.id = oi.commodity_id)
        left join user_info ui on
        (ui.id = oi.buy_user_id)
        left join commodity_type ct on
        (ct.id = coi.type_id)
        where
        1 = 1
        <if test="evaluateInfo.userId != null and evaluateInfo.userId != ''">
            AND ui.user_id = #{evaluateInfo.userId}
        </if>
        <if test="evaluateInfo.userName != null and evaluateInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{evaluateInfo.userName},'%')
        </if>
        <if test="evaluateInfo.commodityName != null and evaluateInfo.commodityName != ''">
            AND coi.name LIKE CONCAT('%',#{evaluateInfo.commodityName},'%')
        </if>
        <if test="evaluateInfo.typeName != null and evaluateInfo.typeName != ''">
            AND ct.name LIKE CONCAT('%',#{evaluateInfo.typeName},'%')
        </if>
        order by
        ei.create_date desc
    </select>
</mapper>
