<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.OrderInfoMapper">

    <!-- 分页获取订单订单信息 -->
    <select id="selectOrderPage" resultType="java.util.LinkedHashMap">
        select
        oi.id,
        oi.code,
        oi.buy_user_id,
        oi.sell_user_id,
        oi.commodity_id,
        oi.total_price,
        oi.total_after_price,
        oi.pay_status,
        oi.pey_type,
        oi.logistics,
        oi.create_date,
        oi.pay_time,
        ui.code,
        ui.name as userName,
        ui.phone,
        coi.title,
        coi.name as commodityName,
        ct.name as typeName,
        coi.images,
        coi.price,
        coi.store_num,
        ei.id as evaluateId
        from
        order_info oi
        left join user_info ui on
        (ui.id = oi.buy_user_id)
        left join commodity_info coi on
        (coi.id = oi.commodity_id)
        left join commodity_type ct on
        (ct.id = coi.type_id)
        left join evaluate_info ei on
        (ei.order_id = oi.id)
        where
        1 = 1
        <if test="orderInfo.buyUserId != null and orderInfo.buyUserId != ''">
            AND ui.user_id = #{orderInfo.buyUserId}
        </if>
        <if test="orderInfo.sellUserId != null and orderInfo.sellUserId != ''">
            AND ui.user_id = #{orderInfo.sellUserId}
        </if>
        <if test="orderInfo.code != null and orderInfo.code != ''">
            AND oi.code LIKE CONCAT('%',#{orderInfo.code},'%')
        </if>
        <if test="orderInfo.userName != null and orderInfo.userName != ''">
            AND ui.name LIKE CONCAT('%',#{orderInfo.userName},'%')
        </if>
        <if test="orderInfo.commodityName != null and orderInfo.commodityName != ''">
            AND coi.name LIKE CONCAT('%',#{orderInfo.commodityName},'%')
        </if>
        <if test="orderInfo.typeName != null and orderInfo.typeName != ''">
            AND ct.name LIKE CONCAT('%',#{orderInfo.typeName},'%')
        </if>
        order by
        oi.create_date desc

    </select>
</mapper>
